button {
  margin: 15px auto;
  font-size: 100px;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: auto;
  padding-bottom: 15px;
}

body {
  text-align: center;
  margin: 0 auto;
}

#rock {
  text-align: center;
}

#paper {
  text-align: center;
}

body {
  background-image: url("./bg.png");
}